/* musi se jmenovat stejne jako komponenta*/
/* jinak to nefunguje */
/* tohle je css modul, ktery se importuje do komponenty */

.percentview {
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    border: 1px solid #c5fc00;
    font-size: 1.5em;

}
.percentviewbar {
    border: 1px solid #ccc;
    height: 1em;
    
}

.bar {
    height: 100%;
}
